div[data-testid="stExpander"] div[role="button"] p {
    font-size: 2rem;
}

/* Custom expander style 1 */
.summary {
    color: blue;
}

/* Custom expander style 2 */
.solutions {
    color: orange;
}

/* Custom expander style 2 */
.links div[data-testid="stExpander"] div[role="button"] p {
    font-size: 2rem;
    color: orange;
}

/* Custom expander style 2 */
.coach div[data-testid="stExpander"] div[role="button"] p {
    font-size: 2rem;
    color: black;
}